


<!DOCTYPE html>
<html lang="en">
   <head>
      <!-- basic -->
      <meta charset="utf-8">
      <meta http-equiv="X-UA-Compatible" content="IE=edge">
      <!-- mobile metas -->
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="viewport" content="initial-scale=1, maximum-scale=1">
      <!-- site metas -->
      <title>WEBSITE PERPAJAKAN</title>
      <meta name="keywords" content="">
      <meta name="description" content="">
      <meta name="author" content="">
      <!-- bootstrap css -->
      <link rel="stylesheet" href="/static/website/css/bootstrap.min.css">
      <!-- style css -->
      <link rel="stylesheet" href="/static/website/css/style.css">
      <!-- Responsive-->
      <link rel="stylesheet" href="/static/website/css/responsive.css">
      <link rel="stylesheet" href="/static/website/css/owl.carousel.min.css">
      <!-- fevicon -->
      <link rel="icon" href="/static/website/images/fevicon.png" type="image/gif" />
      <!-- Scrollbar Custom CSS -->
      <link rel="stylesheet" href="/static/website/css/jquery.mCustomScrollbar.min.css">
      <!-- Tweaks for older IEs-->
      <link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.css" media="screen">
      <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script><![endif]-->
   </head>
   <!-- body -->
   <body class="main-layout">
      <!-- loader  -->
      
      <!-- end loader -->
      <!-- header -->
      <header>
         <!-- header inner -->
         <div class="header_bg">
            
            <!-- end header inner -->
            <!-- end header -->
            <!-- banner -->
            {% block contents %}
	{% for Tampil in cari_dt %}

            <section class="banner_main">
               <div class="container-fluid">
                  <div class="row d_flex">
                     <div class="col-md-5">
                        <div class="text-bg">
                           <span>Welcome, <br> {{Tampil.nama_lengkap}}</span>
                           <h1 style="font-size: 20px;">KANTOR DESA GUNUNG MALANG SUBO</h1>
                           <p>Daftar Data Wajib Pajak Di Kantor Desa Gunug Malang Subo Sebagai Berikut.</p> 	
                           <table style="font-family: times-now-roman; font-size: 16px;">
							<tr>
							<td>Nama Lengkap</td> <td>:</td> <td>{{Tampil.nama_lengkap}}</td>
							</tr>
							<tr>
							<td>Nomor Pajak</td> <td>:</td> <td>{{Tampil.nomor_pajak}}</td>
							</tr>
							<tr>
							<td>Nama Pajak</td> <td>:</td> <td>{{Tampil.nama_lengkap}}</td>
							</tr>
							<tr>
							<td>Luas Bumi</td> <td>:</td> <td>{{Tampil.luas_bumi}}</td>							
							</tr>
							<tr>
							<td>Luas Bangunan</td> <td>:</td> <td>{{Tampil.luas_bangunan}}</td>
							</tr>
							<tr>
							<td>Nama Bangunan</td> <td>:</td> <td>{{Tampil.nama_lengkap}}</td>
							</tr>
							</table>
							<p style="font-size:15px">Daftar Wajib Paajak diatas telah memiliki suatu nilai jual dalam tahun ini sebesai senilai <strong>Rp. {{Tampil.nilai_jual}}</strong>.<br>
							Dan nilai jual setiap bangunan pasti akan berubah setiap tahun.</p>
             				<a href="{% url 'website' %}">Kembali</a>
                        </div>
                     </div>
                     <div class="col-md-7">
                        <div class="text-img">
                           <figure><img src="/static/website/images/img.png" /></figure>
                        </div>
                     </div>
                  </div>
               </div>
            </section>
	{% endfor %}
{% endblock contents %}

         </div>
      </header>
      <!-- end banner -->
      <!-- three_box  -->
      <div id="service" class="three_box">
         <div class="container">
            <div class="row">
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Soft-box">
                     <i><img src="/static/website/images/service1.png" alt="#" /></i>
                     <h3> SPBB 1</h3>
                     <p>Mengisi SPOP untuk tanah kosong, mengisi SPOP dan LSPOP untuk tanah yang ada bangunannya secara jelas, benar dan lengkap dan ditandatangani WP.</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Soft-box">
                     <i><img src="/static/website/images/service2.png" alt="#" /></i>
                     <h3>SPPB 2</h3>
                     <p>Surat Kuasa Khusus dalam hal SPOP diisi dan ditandatangani kuasa wajib pajak</p>
                  </div>
               </div>
               <div class="col-xl-4 col-lg-4 col-md-4 col-sm-12">
                  <div class="Soft-box">
                     <i><img src="/static/website/images/service3.png" alt="#" /></i>
                     <h3>BUKTI</h3>
                     <p>Surat Pernyataan bahwa Tanah tidak dalam kondisi sengketa</p>
                  </div>
               </div>
            </div>
         </div>
      </div>
      <!-- end weare -->
      <!-- end contact -->
      <!--  footer -->
      <footer>
         <div class="footer">
            <div class="container">
               <div class="row">
                  <div class="col-md-12">
                     <p>© 2019 All Rights Reserved. <a href="https://html.design/">Free html Templates</a></p>
                  </div>
               </div>
            </div>
         </div>
      </footer>
      <!-- end footer -->
      <!-- Javascript files-->
      <script src="/static/website/js/jquery.min.js"></script>
      <script src="/static/website/js/popper.min.js"></script>
      <script src="/static/website/js/bootstrap.bundle.min.js"></script>
      <script src="/static/website/js/jquery-3.0.0.min.js"></script>
      <script src="/static/website/js/plugin.js"></script>
      <!-- sidebar -->
      <script src="/static/website/js/jquery.mCustomScrollbar.concat.min.js"></script>
      <script src="/static/website/js/custom.js"></script>
      <script src="/static/website/js/owl.carousel.min.js"></script>
      <script src="https:cdnjs.cloudflare.com/ajax/libs/fancybox/2.1.5/jquery.fancybox.min.js"></script>
      <script>
         $(document).ready(function() {
           var owl = $('.owl-carousel');
           owl.owlCarousel({
             margin: 10,
             nav: true,
             loop: true,
             responsive: {
               0: {
                 items: 1
               },
               600: {
                 items: 2
               },
               1000: {
                 items: 3
               }
             }
           })
         })
      </script>
      
      <script>
         $('.content').hide();
         
         $('.slider').click(function() {
         $(this).next('.content').slideToggle();
         this.toggle = !this.toggle;
         $(this).children("span").text(this.toggle ? "-" : "+");
         return false;
         });
      </script>
   </body>
</html>

